.mySwiper{
    height: 500px;
    background-color: #ababab;
    box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.swiper-slide .edb-post-carousel{
  padding: 10px 40px;
}

.swiper-slide h4 a {
    text-decoration: none;
}

.post-thumbnail{
  display: flex;
  justify-content: center;
}

.post-thumbnail img {
  max-width: 100%;
  height: auto;
  display: block;
}